@import "../../../../scss/variables.scss";
@import "../../../../scss/colours";

h1 {
    border-bottom: $small solid $base-black;
    padding-bottom: $medium;
    text-transform: uppercase;
    font-size: $large;
}