@import "../../../../scss/variables";
@import "../../../../scss/colours";
@import "../../../../scss/mixin";
@import "./../../../../scss/fonts";

.accordion {
  margin-top: $medium;
  li {
    border-bottom: 2px solid $base-black;
    .question {
      padding-left: $medium;
      max-width: 80%;
      text-align: left;
    }
    .panel {
      padding: $xsmall $medium;
      @extend .oswald-light ;
    }
    .fade {
        transition: all linear 4s;
        display: block;
    }

  }
}

button {
  padding: $medium $xsmall;
  border: none;
  position: relative;
  display: flex;
  width: 100%;
  background: $base-white;
  &:before {
    background: $yellow;
    height: $large;
    width: $large;
    content: "";
    position: absolute;
    right: $medium;
  }
  &:after {
    background: url(~/assets/svg/plus-icon.svg) center center no-repeat;
    height: $large;
    width: $large;
    content: "";
    position: absolute;
    right: $medium;
    background-size: 50% 50%;
  }
  &.active {
    background: $grey;
    @include transition(all 0.7s ease-in);
    &:after {
      transform: rotate(45deg);
      @include transition(all 0.4s ease-in);
    }
  }
}
