@font-face {
  font-family: "oswald-regular";
  src: url("/assets/fonts/oswald-regular.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "oswald-light";
  src: url("/assets/fonts/oswald-light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "oswald-bold";
  src: url("/assets/fonts/oswald-bold.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

.oswald-regular {
  font-family: "oswald-regular";
}

.oswald-light {
  font-family: "oswald-light";
}
.oswald-bold {
  font-family: "oswald-bold";
}

